In [3]:
select age(birth_date)::year from about_me

: type "year" does not exist

In [1]:
create view about_me_view as (
    select unnest(array['full name', 'birth date', 'location', 'gender', 'marital status']) AS key
    ,   unnest(array[initcap(first_name||' '||last_name), birth_date::VARCHAR, location, gender, marital_status]) AS value
    from about_me
)

In [2]:
select * from about_me_view

key,value
full name,Mohammad Ali Mehdizadeh
birth date,1993-03-17
location,"Kerman, Kerman, Iran"
gender,male
marital status,married